table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
   border: 1px solid #dddddd;
   text-align: left;
   padding: 8px;
}
  
tr:nth-child(even) {
  background-color: #dddddd;
}

td {
    background-color: bisque;
    height: 80px;
}

th {
    background-color: #fcf7ef;
}

